.loader-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loader {
  position: relative;
  height: 4px;
  background-color: rgb(250, 177, 42);
  width: 0;
  animation: loading-line 0.5s ease-in-out infinite;
}

@keyframes loading-line {
  0% {
    width: 0;
  }
  
  100% {
    width: 100%;
  }
}
