.mouse-trail {
  position: absolute;
  width: 35px; 
  height: 40px; 
  background: rgb(250, 165, 7); 
  pointer-events: none; 
  border-radius: 100%; 
  filter: blur(4px); 
    opacity: 1;
  transition: opacity 1 ease-in-out; 
}

.mouse-trail.removing {
  opacity: 0; 
}
