
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/*  <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */

.montserrat-sans-serif {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif; /* Your chosen font */
  font-size: 16px; /* Base font size */
  line-height: 1.5;
  color: #333;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif; /* For headings */
}

p {
  font-family: "Roboto", sans-serif; /* Ensure paragraphs use Roboto */
}

h1 {
  font-family: "Merriweather", serif; /* Change for headings */
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

p {
  font-size: 1rem;
  margin-bottom: 1em;
}

small {
  font-size: 0.875rem;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-width: none;
}
body {
    overflow-y: scroll;
}


